PORT=3000

# DB MONGO
MONGO_URL=mongodb://localhost
MONGO_DB_NAME=portal-member
MONGO_USER=admin
MONGO_PASS=admin
MONGO_AUTH=admin

# DEFAULT ACCOUNT OPERATOR
OPERATOR_EMAIL=admin@gmail.com
OPERATOR_PASS=123456